body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color:#5252f7;
}
.half-width{
    width: 40%;
    float: left;
    margin: 3%;
    padding: 2%;
}
.half-width img{
    width: 100%;
}
.background-image{
    background-image: url("images/image1.jpg");
    background-size: 100%;
}
.link-button{
    text-decoration: none;
    background-color:#5252f7;
    padding: 10px 20px;
    border-radius: 100px;
    color: white;

}