body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    background-image: url("images/okay.jpg");
    background-size: 100%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.name-highlight{
    color:#5252f7;
}
.half-width{
    width: 40%;
    float: left;
    margin: 3%;
    padding: 2%;
}
.half-width img{
    width: 100%;
    padding-bottom: 61px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, #ecf845, #f72c2c);
    padding: 10px 20px;
    border-radius: 100px;
    color: white;
    font-weight: 700;
}